# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.out/
.cache/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
.turbo/cookies/1.cookie
